
*.pyc
db.sqlite3
school_api/migrations/__init__.py
school_app/migrations/0001_initial.py
school_app/migrations/0002_alter_course_date_open_alter_course_repeat_and_more.py
school_app/migrations/0003_course_slug_lesson_id_course_lesson_slug_and_more.py
school_app/migrations/0004_alter_user_registered.py
school_app/migrations/0005_alter_homework_tasks_alter_lesson_homework_and_more.py
school_app/migrations/0006_alter_lesson_homework_alter_user_registered.py
school_app/migrations/0007_alter_lesson_homework_alter_user_registered.py
school_app/migrations/0008_tag_course_lesson_stream_duration_and_more.py
school_app/migrations/0009_alter_user_registered.py
school_app/migrations/0010_alter_course_is_active_alter_course_value_and_more.py
school_app/migrations/0011_alter_user_registered.py
school_app/migrations/0012_remove_user_my_courses_push_created_user_completed_and_more.py
school_app/migrations/0013_alter_push_created_alter_user_registered.py
school_app/migrations/0014_alter_push_created_alter_user_registered.py
school_app/migrations/0015_user_grade_alter_push_created_alter_user_registered.py
school_app/migrations/0016_notification_delete_push_alter_user_notifications.py
py_log.log
*.log
school_app/migrations/0018_teacher_telegram_link_alter_teacher_description_and_more.py
node_modules
