{% load static %}

<div class="top_menu flex btw">
    <div id="logo" class="v_center center flex">
        Samotokhin School
        <img src="" alt="">
    </div>
    <div class="flex row v_center">
        <div class="menu_item v_center center flex">Главная</div>
            <div class="split"></div>
        <div class="menu_item v_center center flex">Мои курсы</div>
            <div class="split"></div>
        <div class="menu_item v_center center flex">Календарь занятий</div>
        <div class="flex" id="notifications"><img src="{% static 'img/svg/notifications.svg' %}" alt=""></div>
        <div class="flex" id="profile"><img src="{% static 'img/Temich.jpg' %}" alt=""><img src="{% static 'img/svg/down.svg' %}" alt=""></div>
    </div>
</div>
